<?xml version="1.0" encoding="UTF-8" standalone="no"?><app>
	<school>
		<name></name>
		<logo></logo>
		<state>
			<session></session>
			<term></term>
			<teachers>0</teachers>
			<students>
				<p1>0</p1>
				<p2>0</p2>
				<p3>0</p3>
				<p4>0</p4>
				<p5>0</p5>
				<p6>0</p6>
				<j1>0</j1>
				<j2>0</j2>
				<j3>0</j3>
				<s1>0</s1>
				<s2>0</s2>
				<s3>0</s3>
			</students>
		</state>
	</school>
	<admin>
		<name></name>
	</admin>
	<subjects>
		<primary>Pre-vocational Studies, Cultural and Creative Arts</primary>
		<junior>Business Studies, Home Economics, Basic Science, Basic Technology, Social Studies</junior>
		<secondary>
			<science>Chemistry, Physics, Biology</science>
			<social>Financial Accounting, Economics</social>
			<arts>Government, Literature in English</arts>
		</secondary>
	</subjects>
</app>