.txtFd{
    -fx-focus-color: #228B22;
    -fx-faint-focus-color: #228B2222;
    -fx-effect: dropshadow(gaussian, grey, 4, 0.1, 0.5, 1);
    -fx-font-size: 14px;
}

.btn{
    -fx-background-color: #228B22;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, grey, 15, 0.2, 1, 2);
}

.btn:hover{
    -fx-background-color: #006400;
    -fx-cursor: hand;
}

.combo-box{
    -fx-focus-color: #228B22;
}

.combo-box .combo-box-popup .list-cell:hover{
    -fx-background-color: #228B22;
}

.combo-box .combo-box-popup .list-cell:selected{
    -fx-background-color: #228B22;
}