.header{
    -fx-background-color: #228B22;
}

.menu{
    -fx-background-color: #228B22;
}

.menu Button{
    -fx-background-color: none;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.menu Button:hover{
    -fx-background-color: #006400;
    -fx-cursor: hand;
}

#searchBox{
    -fx-focus-color: #228B22;
    -fx-faint-focus-color: #228B2222;
    -fx-effect: dropshadow(gaussian, grey, 10, 0.1, 0.5, 1);
    -fx-font-size: 16px;
}

#searchBtn{
    -fx-focus-color: #228B22;
    -fx-faint-focus-color: #228B2222;
    -fx-effect: dropshadow(gaussian, grey, 10, 0.1, 0.5, 1);
}

#userLabel{
    -fx-background-color: #006400;
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
    -fx-text-fill: white;
}

.context-menu .menu-item:focused{
    -fx-background-color: #228B22;
}